.currencybox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 114px;
  height: 169px;
  top: 78px;
  left: 1248px;
  gap: 21px;
}

.currencytext {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
