@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap");

.page {
  display: flex;
  flex-direction: column;
}

.cart {
  display: inline-block;
  position: absolute;
  text-align: left;
  margin-left: 101px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 160px;
}

.list {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-items: left;
  justify-content: left;
  align-items: top;
  margin-top: 280px;
  margin-left: 101px;
}

.row {
  display: flex;
  flex-direction: row;
}

.itemleft {
  position: relative;
  padding-top: none;
  margin-top: none;
  margin-right: 607px;
  display: flex;
  flex-direction: column;
  width: 292px;
}
.itemright {
  position: relative;
  padding-top: none;
  margin-top: none;
  display: flex;
  flex-direction: row;
  height: 185px;
  width: 200px;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart_counter {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
}

.counterbutt {
  width: 45px;
  height: 45px;
  border: 1px solid #1d1f22;
}

.rightrow {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.cartimage {
  width: 141px;
  margin-left: 27px;
}

.attrtext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}
