@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.radioinputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: nowrap;
}
.radioinput {
  height: 45px;
  width: 63px;
  font-size: 18px;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
}

.radioinput.active {
  background: black;
  color: white;
}

.attrname {
  margin-bottom: 8px;
  margin-top: 10px;
}
