@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@500&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  width: 1440px;
  height: 1513px;
  background: #ffffff;
}

.box {
  width: 100%;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* top menu start */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.layer {
  width: 100%;
  height: 1435px;
  position: absolute;
  /*background-color:rgba(20,50,60,0.5);*/
  background: rgba(57, 55, 72, 0.22);
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
}

.ttext {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  height: 20px;
  padding-right: 32px;
}

.tlink {
  color: #1d1f22;
  text-decoration: none;
}
.ttext a:focus,
a:active {
  color: #5ece7b;
  text-decoration: underline;
  text-underline-position: below;
}

.items1 {
  margin-top: 28px;
}

.categories {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  padding-left: 117px;
  padding-right: 32px;
}

.a-logo {
  display: block;
  width: 41px;
  height: 41px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 204px;
  height: 40px;
  top: 23px;
  gap: 22px;
}

.actions_left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.shopping_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart_icon {
  background: url("images/cart.png");
  display: block;
  width: 20px;
  height: 18px;
}

.shopping_counter {
  display: block;
  width: 20px;
  height: 20px;
  background: #1d1f22;
  border-radius: 60px;
  margin-bottom: 30px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top:4px;
  padding-bottom:0px;
  text-align: center;
  text-transform: uppercase;
}

.cart {
  padding-left: 22px;
  padding-right: 80px;
}

.actions_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.currency {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.currencyicon {
  display: block;
  background: url("images/vector.png");
  width: 8px;
  height: 4px;
}

/* top menu END */

.Title {
  margin-top: 80px;
  display: block;
  width: 299px;
  height: 68px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
}

.bpdp1 {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 100px;
  margin-top: 82px;
}
.ipdp1 {
  margin-bottom: 33px;
  margin-left: 80px;
  width: 79px;
  height: 80px;
}
.ipdp1 {
  width: 80px;
  height: 79px;
}
/* задает ширину между карточками*/

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
}
